
@model IEnumerable<BetStatsAssist.Classes.LEAGUE>

@{
    ViewBag.Title = "About";
}


<!DOCTYPE html>
<html>
<head>
    <div class="navbar-collapse collapse">
        
        <ul class="nav navbar-nav">
            @*<!--<li>@Html.ActionLink("Home", "Index", "Home")</li>-->*@
            @foreach (var league in Model)
            {
                <li>@Html.ActionLink(league.LEAGUE_NAME, "Index", "Home")</li>
            }
            
        </ul>
    </div>
</head>
<body>
   
</body>
</html>