    
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="FixtureResultView" content="width=device-width"/>
    <title>Next Fixtures</title>
</head>
<body>
    <div>
        <ul class="list-inline">
            <li>
                <label>@RenderBody()</label>
            </li>
        </ul>      
    </div>
</body>
</html>

