
@model BetStatsAssistWeb.Models.LeaguesModel

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_statsBookLayout.cshtml";
}


<!--    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var league in Model.Leagues.ToList())
                {
                    <li>@Html.ActionLink(league.LEAGUE_NAME, "Fixtures", new {id = league.API_LEAGUE_ID})</li>
                }
            </ul>
        </div>
    </div>-->
<div class="list-group">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                @foreach (var league in Model.Leagues.ToList())
                {
                    <li>@Html.ActionLink(league.LEAGUE_NAME, "Fixtures", new { id = league.API_LEAGUE_ID })</li>
                }
            </ul>
        </div>
    </nav>
    <div class="navbar-left" id="#Fixtures"></div>

</div>


    @*@section scripts{
        <script>
            $(function () {
                $().on('click', function (response) {
                    $('#Fixtures').html(response);
                });

                e.preventDefault();
            })
        </script>
    }*@

