
@model BetStatsAssistWeb.Models.LeaguesModel


<div class="list-group">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                @foreach (var league in Model.Leagues.ToList())
                {
                    <li>@Html.ActionLink(league.LEAGUE_NAME, "About", new { id = league.API_LEAGUE_ID })</li>
                }
            </ul>
        </div>
    </nav>
    <div class="navbar-left">
        <div>

            <ul class="list-group-item navbar-left">
                @foreach (var fixture in Model.Fixtures.ToList())
            {
                    <li>@Html.ActionLink(fixture.FixDate + ", " + fixture.HomeTeam + " - " + fixture.AwayTeam, "About", new { id = "3" })</li>
                }
            </ul>


        </div>
    </div>

</div>



