<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BetStatsAssist.Properties.Settings.BetStatsAssistDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\user\Documents\Visual Studio 2015\Projects\BetStatsAssistWeb\BetStatsAssistWeb\App_Data\BetStatsAssistDB.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="FootballDataSoap" maxReceivedMessageSize="1000000" />
            <binding name="FootballDataDemoSoap" maxReceivedMessageSize="1000000" />
            <binding name="FootballDataDemoSoap1" />
        </basicHttpBinding>
        <customBinding>
            <binding name="FootballDataDemoSoap12">
                <textMessageEncoding messageVersion="Soap12" />
                <httpTransport />
            </binding>
        </customBinding>
    </bindings>
    <client>
        <endpoint address="http://www.xmlsoccer.com/FootballDataDemo.asmx"
            binding="basicHttpBinding" bindingConfiguration="FootballDataDemoSoap1"
            contract="XMLSoccerService.FootballDataDemoSoap" name="FootballDataDemoSoap1" />
        <endpoint address="http://www.xmlsoccer.com/FootballDataDemo.asmx"
            binding="customBinding" bindingConfiguration="FootballDataDemoSoap12"
            contract="XMLSoccerService.FootballDataDemoSoap" name="FootballDataDemoSoap12" />
    </client>
  </system.serviceModel>
</configuration>